<div class="container-fluid">
  <app-navbar></app-navbar>

  <div class="form-group">
   <form [formGroup]="userForm" (ngSubmit)="onclicked()">
     <label for="title">Title:</label>
     <input type="text" name="title" id="title" class="form-control" formControlName="title"  required>
     <p *ngIf="titleError">Cannot Be Empty</p>
     <label>Category</label>
     <select class="form-control" name="category" formControlName="category"   >

       <option value="Science" selected>Science</option>
       <option value="Technical" >Technical</option>
       <option value="Entertainment">Entertainment</option>
       <option value="News" >News</option>


     </select>
     <p *ngIf="categoryError">Cannot Be Empty</p>
     <label>Content:</label>
     <input type="text" name="content" class="form-control input-lg" formControlName="content" />
     <p *ngIf="contentError">Cannot Be Empty</p>
     <div class="btn btn-group-justified ">
       <button type="submit" class="btn btn-primary" id="custom-btn-submit">Add</button>
     </div>

   </form>

  </div>



</div>
